.registerBody {
  background-size: 400px;
  border: 1px solid rgba(95, 95, 95, 0.219);
  backdrop-filter: blur(15px);
  background-color: rgba(223, 223, 223, 0.075);
}
.button {
  border-radius: 0 !important;
  width: 70% !important;
  height: 50% !important;
  font-size: 1.4rem;
  outline: none;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}

.input {
  width: 70% !important;
  height: 15% !important;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  padding-left: 0;
  color: white;
}

.input::placeholder {
  color: white;
}

.input:focus {
  outline: none;
}
